body {
  font-family: sans-serif;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

form {
  margin-top: 40px;
  text-align: center;
}

.gallery {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: aqua;
  border-radius: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 320px;
}


.button {
  padding: 7px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: tomato;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}