body {
  font-family: sans-serif;
  padding-top: 90px;
  margin: 0;
  background-color: rgb(127, 127, 127);
}

/* Form */

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(250, 234, 88);
  text-align: center;
}

.form-input,
.form-button {
  padding: 10px 12px;
  border: 2px solid rgb(104, 175, 255);
  border-radius: 5px;
}
.form-input {
  margin-right: 10px;
  width: 200px;
  outline: none;
}

.form-button {
  color: white;
  background-color: rgb(104, 175, 255);
  cursor: pointer;
}

/* Gallery */

.gallery {
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.is-active {
  background-color: aqua;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: yellow;
  width: calc((100% - 8 * 15px) / 4);
  height: 350px;
}

.photo-card img {
  display: block;
  height: 426px;
  object-fit: cover;
}

/* Load button */

.load-button {
  padding: 10px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(218, 255, 71);
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}